@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

$primary: #1cafe4;
$brighter: #85d6e7;
$gradient: linear-gradient(90deg, rgba(133, 214, 231, 1) 30%, rgba(28, 175, 228, 1) 100%);
